.container {
  text-align: center;
}
.fa {
  margin-right: 1em;
}
a {
  margin-bottom: .2em;
}
/* estilos*/
.btn-shared, .btn-shared:focus {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #1892BF;
  border-color: #1892BF;
  background: transparent;
  margin: 0px 3px;
  padding: 7px 14px;
  outline: 0;
  margin-left: 20px;
}
.btn-shared:hover {
  background: #1892BF;
  color: #FFF;
}

.unfavorite-text {
  display: none;
}

/* despues de click */
.liked,
.liked:focus {
  background: #1892BF;
  color: #FFF;
}
