/* Full document*/
*{ 
  margin: 0px;
  padding: 0px;
  color: white;
}


/*Title search bar*/
.titlesearch {
  color: #f86820;
  text-align: center;
  margin-top: 10px;
}

/*Content Search Bar Btn*/
.contentSearch {
  width: 100%;
  display: -webkit-inline-box;
  margin-left: 30px;
  margin-top: 10px;
  }

/*Content Search Bar */
.contenedorbarrabusqueda {
   overflow: visible;
  display: block;
  }

/*Btn search*/
.botonbusqueda {
  color: #fff;
    background-color: #f86820;
    border: 0px;
    padding: 13px 15px;
    line-height: 11px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 7px;
}

/* Event Id*/
.id {
  visibility: hidden;
}

/*Event Img*/
.img {
    padding: 5px;
    width: 70% !important;
    height: 50% !important;
}

/*Event Name*/
.nombre {
  text-overflow: ellipsis;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  color: #45494e;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 0 0;
}

/*Event Text*/
.text {
  text-overflow: ellipsis;
  font-size: x-small;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  color: #45494e;
  line-height: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 0 0;
}

/*Event Parrafe*/
.parrafe{
  text-align: justify;
  height: 15px;
  text-overflow: ellipsis;
  font-size: x-small;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  color: #45494e;
  line-height: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 0 0;
}

/*Content Event*/
.cojaEvento {
  height: 100% !important;
 margin: 7px !important;
 padding: 7px !important;
 border-radius: 9px !important;
}


/*Content Bar footer*/
.tab-bar {
  font-weight: 400;
  font-size: 17px;
  display: table;
  table-layout: fixed;
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: #0458a0;
  width: 100%;
  color: white;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
  }
}

/*Btn bar footer*/
.tabbar__button{
      width: 106px !important;
    height: 46px !important;
    margin: 0;
    background: transparent;
    border: none;
    line-height: normal;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    height: 49px;
    letter-spacing: 0;
    color: #999;
    vertical-align: top;
    background-color: transparent;
    border-top: none;
    width: 100%;
    font-weight: 400;
    line-height: 49px;
}

/* Icon bar footer*/
.tabbar__icon{
font-size: 24px;
    padding: 0;
    margin: 0;
    line-height: 26px;
    display: block !important;
    height: 28px;
}

.page__content{

  top: 50px !important;
  text-align: center !important;
}